.AppWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 985px;
    margin: 4rem;
}
.customContainer {
    margin: 2rem;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 48em) {
    .customContainer {
        margin: 2rem;
        width: auto;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }
}

.footerText {
    margin-top: 3.25rem;
}